Repository hobogalaxy/ISA, pull requests merged in 2020-09, with the labels that each got.

#19 Proximal policy optimization
  Python/PPO.py
  Python/models.py
  Python/test_memory_and_env_wrapper.py
  Python/test_random.py
  Python/utils.py
Labels: A.I.

#21 add environment
  .DS_Store
  Unity/.DS_Store
  Unity/Assets/.DS_Store
  Unity/Assets/New Terrain.asset
  Unity/Assets/New Terrain.asset.meta
  Unity/Assets/Scenes/.DS_Store
  Unity/Assets/Scenes/SampleScene.unity
Labels: Unity, enhancement

#23 PPO training
  .DS_Store
  Python/.gitignore
  Python/PPO.py
  Python/models.py
  Python/test_model.py
  Unity/Assets/Cars/CarAgent.cs
  Unity/Assets/Cars/Movement.cs
  Unity/Assets/Cars/SlidingCar/Arena.prefab
  Unity/Assets/Cars/SlidingCar/Arena.prefab.meta
  Unity/Assets/Cars/SlidingCar/Elements/SlidingCarMovement.cs
  Unity/Assets/Cars/SteeringWheelSimCar/Arena.prefab
  Unity/Assets/Cars/SteeringWheelSimCar/Arena.prefab.meta
  Unity/Assets/Cars/SteeringWheelSimCar/SteeringWheelSimCar.prefab
  Unity/Assets/Cars/SteeringWheelSimCar/SteeringWheelSimCar.prefab.meta
  Unity/Assets/Cars/SteeringWheelSimCar/elements/SteeringWheelSimCarMovement.cs
  Unity/Assets/Cars/SteeringWheelSimCar/elements/SteeringWheelSimCarMovement.cs.meta
  Unity/Assets/Cars/WheelSimCar/Arena.prefab
  Unity/Assets/Cars/WheelSimCar/Arena.prefab.meta
  Unity/Assets/Cars/WheelSimCar/Elements/WheelSimCarMovement.cs
  Unity/Assets/ML-Agents/Timers/SlidingCarScene_timers.json
  Unity/Assets/ML-Agents/Timers/SteeringWheelSimCarScene_timers.json
  Unity/Assets/ML-Agents/Timers/WheelSimCarScene_timers.json
  Unity/Assets/Materials/CheckersGray_BC.mat
  Unity/Assets/Materials/CheckersGray_BC.mat.meta
  Unity/Assets/Materials/gridTexture.mat
  Unity/Assets/Materials/gridTexture.mat.meta
  Unity/Assets/Materials/orange.mat
  Unity/Assets/Materials/orange.mat.meta
  Unity/Assets/Scenes/SlidingCarScene.unity
  Unity/Assets/Scenes/SteeringWheelSimCarScene.unity
  Unity/Assets/Scenes/WheelSimCarScene.unity
  Unity/ProjectSettings/TimeManager.asset
Labels: A.I.

#27 Added DrivingOn2WheelsAgent
  Unity/Assets/Agents.meta
  Unity/Assets/Cars/BoxCollectingAgent.cs
  Unity/Assets/Cars/BoxCollectingAgent.cs.meta
  Unity/Assets/Cars/DrivingCarOn2WheelsAgent.cs
  Unity/Assets/Cars/DrivingCarOn2WheelsAgent.cs.meta
  Unity/Assets/Cars/SteeringWheelSimCar/DrivingOn2WheelsArena.prefab
  Unity/Assets/Cars/SteeringWheelSimCar/DrivingOn2WheelsArena.prefab.meta
  Unity/Assets/Cars/SteeringWheelSimCar/SteeringWheelSimCarArena.prefab
  Unity/Assets/Cars/SteeringWheelSimCar/SteeringWheelSimCarArena.prefab.meta
  Unity/Assets/Cars/SteeringWheelSimCar/sportsCarBlue.prefab
  Unity/Assets/ML-Agents/Timers/TestScene_timers.json
  Unity/Assets/ML-Agents/Timers/TestScene_timers.json.meta
  Unity/Assets/Scenes/TestScene.unity
  Unity/ProjectSettings/Packages/com.unity.polybrush/Settings.json
  Unity/ProjectSettings/TimeManager.asset
Labels: Unity, enhancement

#28 Added rayCasts observations
  Unity/Assets/Cars/SteeringWheelSimCar/elements/RayCasts.cs
  Unity/Assets/Cars/SteeringWheelSimCar/elements/RayCasts.cs.meta
Labels: Unity, enhancement

#29 Add coin spawner
  Unity/.idea/.idea.Unity/riderModule.iml
  Unity/Assets/CoinSpawner.meta
  Unity/Assets/CoinSpawner/CoinSpawner.cs
  Unity/Assets/CoinSpawner/CoinSpawner.cs.meta
  Unity/Assets/CoinSpawner/Japanese Coin.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/DefaultMat.mat
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/DefaultMat.mat.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/Materials.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/Materials/deerka_DefaultMaterial_AlbedoTransparency.mat
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/Materials/deerka_DefaultMaterial_AlbedoTransparency.mat.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/Materials/deerka_DefaultMaterial_MetallicSmoothness.mat
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/Materials/deerka_DefaultMaterial_MetallicSmoothness.mat.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/Materials/deerka_DefaultMaterial_Normal.mat
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/Materials/deerka_DefaultMaterial_Normal.mat.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/coins.mat
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/coins.mat.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/deerka_DefaultMaterial_AlbedoTransparency.jpg
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/deerka_DefaultMaterial_AlbedoTransparency.jpg.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/deerka_DefaultMaterial_MetallicSmoothness.jpg
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/deerka_DefaultMaterial_MetallicSmoothness.jpg.meta
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/deerka_DefaultMaterial_Normal.jpg
  Unity/Assets/CoinSpawner/Japanese Coin/Materials/deerka_DefaultMaterial_Normal.jpg.meta
  Unity/Assets/CoinSpawner/Japanese Coin/coin.obj
  Unity/Assets/CoinSpawner/Japanese Coin/coin.obj.meta
  Unity/Assets/CoinSpawner/Japanese Coin/coin_pile.obj
  Unity/Assets/CoinSpawner/Japanese Coin/coin_pile.obj.meta
  Unity/Assets/CoinSpawner/Japanese Coin/hello there.txt
  Unity/Assets/CoinSpawner/Japanese Coin/hello there.txt.meta
  Unity/Assets/CoinSpawner/Japanese Coin/presentation.unity
  Unity/Assets/CoinSpawner/Japanese Coin/presentation.unity.meta
  Unity/Assets/CoinSpawner/Japanese Coin/presentationSettings.lighting
  Unity/Assets/CoinSpawner/Japanese Coin/presentationSettings.lighting.meta
  Unity/Assets/CoinSpawner/coin.prefab
  Unity/Assets/CoinSpawner/coin.prefab.meta
  Unity/Assets/CoinSpawner/coinRotater.cs
  Unity/Assets/CoinSpawner/coinRotater.cs.meta
Labels: enhancement
